$colors__beige: #ECBF9E;
$colors__cherry: #C21E4E;
$colors__coal: #4D4E4C;

$colors__tan: #C69875;
$colors__dirt: #B28562;
$colors__pink--hot: #E73E6F;
$colors__pink: #FF6592;

$colors__white: #FFFFFF;

$colors__black-opaque: rgba(0,0,0,0.5)