$fonts__family: 'bebas-neue',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$fonts__weight: 400;

$fonts__weight--regular: 400;
$fonts__line-height: 1.4;

$fonts__h1: 60px;
$fonts__h2: 48px;
$fonts__h3: 36px;
$fonts__h4: 24px;
$fonts__h5: 20px;
$fonts__h6: 16px;
$fonts__copy: 22px;
$fonts__tabs: 16px;
$fonts__small: 20px;
$fonts__button: 24px;
$fonts__snippets: 24px;

$fonts__h1--tablet: 280px;
$fonts__h2--tablet: 220px;
$fonts__h3--tablet: 120px;
$fonts__h4--tablet: 80px;
$fonts__h5--tablet: 60px;
$fonts__h6--tablet: 50px;
$fonts__copy--tablet: 50px;
$fonts__tabs--tablet: 54px;
$fonts__small--tablet: 24px;
$fonts__button--tablet: 50px;
$fonts__snippets--tablet: 36px;