$globals__border-size: 8px;
$globals__border-size--tablet: 19px;

$globals__header-padding: 30px;
$globals__header-padding--tablet: 50px;


$globals__page-padding-top: 120px;
$globals__page-padding-top--tablet: 150px;