.button {
  background-color: $colors__black-opaque;
  border-color: transparent;
  border-radius: 0;
  border: thin solid $colors__cherry;
  display: inline-block;
  font-size: $fonts__button;
  line-height: 1.1;
  color: $colors__cherry;
  padding: 14px 12px;
  text-align: center;
  
  &__row {
    border-left: thin solid  $colors__cherry;
    display: flex;

    &--three-wide {
      .button {
        width: 33.3333%;
      }
    }
  }

  &__row & {
    border-left: 0;
  }
  @include above('mobile') {
    @include transition(background-color,color);

    &:hover {
      color: $colors__cherry;
      background-color: $colors__white;
    }
  }

  @include above('tablet') {
    font-size: $fonts__button--tablet;
    padding: 34px 24px;
    min-width: 360px;
  }
}