$cursor-size: 7px;
$orb-size: 36px;

//turn off cursor for the entire site
* {
  cursor: none !important;
}

.fancy-cursor,
.fancy-cursor__orb {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%) translate(0, 0);
  pointer-events: none;
  z-index: 15;
}

.fancy-cursor {
  @include transition(background-color);
  width: $cursor-size;
  height: $cursor-size;
  background-color: $colors__cherry;
  

  &:after,
  &:before {
    @include centeralign('both');
    @include transition(opacity);
    content: '';
    border: thin solid $colors__cherry;
    width: 25px;
    left: -100%;
    transform: rotate(45deg);
    opacity: 0;
  }

  &:after {
    transform: rotate(-45deg);
  }

  &--closing {
    background-color: rgba($color: $colors__cherry, $alpha: 0);

    &:after,
    &:before {
      opacity: 1;
    }
  }
}

.fancy-cursor__orb {
  width: $orb-size - 4px;
  height: $orb-size;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 14;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}