.featured-screenshot {
  $imageWidth: 789;
  $imageHeight: 1125;
  $image-ratio:  $imageWidth / $imageHeight * 100%;

  margin-bottom: 3rem;

  &__figure {
    position: relative;
    padding-top: $image-ratio;
  }

  &__image {
    @include centeralign('horizontal');
    max-width: 120%;
    top: 0;
    z-index: -1;
    transition: opacity 300ms ease-in-out;
  }

  &__caption {
    text-align: center;
    color: $colors__coal;
    font-size: $fonts__snippets;
  }
  $arrow-size: 45px;

  &__control {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgba(0,0,0, .3);
    color: $colors__white;
    width: $arrow-size;
    height: $arrow-size;

    .icon {
      display: inline-block;
      font-size: 1rem;
    }

    &--prev {
      left: $wrapper-padding * -1;
    }
    &--next {
      right: $wrapper-padding * -1;
    }
  }

  @include above('mobile') {

    &__control {
      @include transition(background-color);

      top: 40%;

      &:hover {
        background-color: $colors__cherry;
      }

      &--prev {
        left: $wrapper-padding * -1;
      }
      &--next {
        right: $wrapper-padding * -1;
      }
    }
  }

  @include above('tablet') {
    margin-bottom: 8rem;

    &__caption {
      font-size: $fonts__snippets--tablet;

    }
    &__figure {
      padding-top: $image-ratio - 5%;
    }

    &__image {
      max-width: 150%;
    }

    $arrow-size: 85px;

    &__control {
      width: $arrow-size;
      height: $arrow-size;
      
      .icon {
        font-size: 1.75rem;
      }
      &--prev {
        left: $wrapper-padding * -2;
      }
      &--next {
        right: $wrapper-padding * -2;
      }
    }
  }
}