@keyframes fadein{
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.layout {
  height: 100%;
  opacity: 0;
  animation: fadein 0.5s linear forwards;

  &--no-scroll {
    overflow: hidden;
  }

  &__content {
    padding-top: 85vh;

    &--above-fold {
      padding-top: $globals__page-padding-top;
    }

    &--bottom-title {
      position: relative;
      height: 100%;
    }
  }

  &__hide-edges {
    overflow-x: hidden;
  }

  &__main {
    &--no-scroll {
      overflow: hidden;
      height: 100%;
    }
  }

  @include above('mobile') {
    &__content {
      padding-top: 85vh;

      &--above-fold {
        padding-top: $globals__page-padding-top--tablet;
      }
    }
  }
}