.layout {
  height: 100%;

  &__content {
    padding-top: 85vh;

    &--above-fold {
      padding-top: $globals__page-padding-top;
    }
  }

  &__hide-edges {
    overflow-x: hidden;
  }

  @include above('mobile') {
    &__content {
      padding-top: 85vh;

      &--above-fold {
        padding-top: $globals__page-padding-top--tablet;
      }
    }
  }
}