.layout {
  height: 100%;

  &__main {
    height: 100%;
    
  }
  &__content {
    padding-top: 85vh;
    

    &--above-fold {
      padding-top: $globals__page-padding-top;
    }
  }

  @include above('mobile') {
    &__content {
      padding-top: 85vh;

      &--above-fold {
        padding-top: $globals__page-padding-top--tablet;
      }
    }
  }
}