.link-callout {
  padding-bottom: 80px;
  padding-top: 120px;
  text-align: center;

  &__heading {
    text-align: left;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-top: $globals__border-size solid $colors__tan;
    padding-top: 20px;
    color: $colors__cherry;
    min-width: 200px;
  }

  &__icon {
    margin-left: 1rem;
    display: inline-block;
    position: relative;
  }

  &__icon--off {
    @include transition(color 0.25s linear, opacity);
  }

  &__icon--hover {
    @include transition(color 0.25s linear, opacity);

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
  }

  @include above('mobile') {
    padding-bottom: 130px;

    &__heading {
      @include transition(color);
      padding-top: 38px;
      min-width: 400px;
      border-top-width: $globals__border-size--tablet;

      &:hover {
        color: $colors__coal;
      }
    }

    &__heading:hover & {
      &__icon--off {
        opacity: 0;
      }
      &__icon--hover {
        opacity: 1;
      }
    }
  }
}