.link-callout {
  padding-bottom: 80px;
  padding-top: 120px;
  text-align: center;

  &__heading {
    text-align: left;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-top: $globals__border-size solid $colors__tan;
    padding-top: 20px;
    color: $colors__cherry;
    min-width: 200px;
  }

  .icon {
    margin-left: 1rem;
    display: inline-block;
  }

  @include above('mobile') {
    padding-bottom: 130px;

    &__heading {
      padding-top: 38px;
      min-width: 400px;
      border-top-width: $globals__border-size--tablet;
    }
  }
}