.logo {
  $transition-speed: 0.5s;

  overflow: hidden;
  position: relative;

  &__link {
    display: block;
  }

  &__main {
    width: 95px;
    display: none;
  }

  &__mobile {
    display: block;
    width: 30px;
  }

  &__svg {
    position: relative;
    width: 100%;
  }

  @include above('mobile') {


    &__main {
      @include transition(transform $transition-speed);

      width: 155px;
      display: block;
      transition-delay: $transition-speed;
    }

    &__mobile {
      @include transition(transform $transition-speed);

      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      width: 46px;
    }

    &--show-the-d & {
      &__main {
        transform: translateX(-100%);
        transition-delay: 0s;
      }

      &__mobile {
        transition-delay: $transition-speed;
        transform: translateX(55px);
      }
    }
  }
}