.logo {
  &__link {
    display: block;
  }

  &__main {
    width: 95px;
    display: none;
  }

  &__mobile {
    display: block;
    width: 30px;
  }

  &__svg {
    position: relative;
    width: 100%;
  }

  @include above('mobile') {
    &__main {
      width: 155px;
      display: block;
    }

    &__mobile {
      display: none;
    }
  }
}