

.navigation {  
  $fonts__nav: 50px;
  $fonts__nav--large: 80px;
  $fonts__nav--tablet: 100px;
  $fonts__nav--large-tablet: 130px;
  $social-links-height: 90px;

  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: $eggsize + $globals__header-padding;
  height: $eggheight + $globals__header-padding;
  overflow: hidden;

  transition: width 100ms linear 0.75s,
    height 100ms linear 0.75s;

    //menu open

  &--egg-expanded {
    width: 100%;
    height: 100%;
    transition: none;
  }
  

  &__hamburger {
    position: absolute;
    width: $eggsize;
    height: $eggheight;
    right: $globals__header-padding;
    top: $globals__header-padding;
    z-index: 5;

    .burger {
      @include centeralign('both');
    }
  }
  

  &__menu {
    width: 100%;
    height: calc(100% - #{$social-links-height});
    position: relative;
    z-index: 2;
  }

  &__menu-item {
    height: 30%;
    width: 100%;
    opacity: 0;

    & ~ &{
      bottom: 0;
    }

    &--primary {
      height: 40%;
    }

    &--dark {
      background-color: $colors__coal;
    }
    &--white {
      background-color: $colors__white;
    }
  }

  &__menu-link {
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: $fonts__nav;

    &--large {
      font-size: $fonts__nav--large;
    }

    &--white-onred {
      background-color: $colors__cherry;
      color: $colors__white;
    }

    &--beige-coal {
      color: $colors__beige;
      background-color: $colors__coal;
    }

    &--red-white {
      color: $colors__cherry;
      background-color: $colors__white;
    }
  }

  &__menu-item--show-text & {
    &__menu-label {
      @include transition(opacity);

      opacity: 1;
    }
  }

  &__menu-label {
    transition-duration: 0.15s;
    opacity: 0;
  }

  .social-links {
    background-color: $colors__beige;
    height: $social-links-height;
    opacity: 0;
    position: relative;
    z-index: 3;

    &__icon {
      font-size: 20px;
    }
  }

  @include above('mobile') {
    

    $bun-width--tablet: 40px;
    $bun-height--tablet: 3px;
    $bun-spacing: 9px;

    //Not open
    width: $eggsize--tablet + $globals__header-padding--tablet;
    height: $eggheight--tablet + $globals__header-padding--tablet - 20px;



    //menu open
    &--egg-expanded {
      width: calc(50% + #{$wrapper-maxwidth--narrow/2});
      height: 100%;
    }

    &__hamburger {
      position: absolute;
      width: $eggsize--tablet;
      height: $eggheight--tablet;
      right: $globals__header-padding--tablet;
      top: $globals__header-padding--tablet - 20px;
      cursor: pointer;

      &:hover {
        .burger:not(.burger--is-expanded) {
          
          .burger__buns {
            top: -6px;
          }

          .burger__buns--bottom {
            top: $bun-height--tablet*2 + $bun-spacing*2 + 6px;
          }
        }
      }
    }

    .social-links {
      display: none;
    }

    &__menu {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      
    }
    &__menu-item {
      height: 50%;
      width: 50%;

      &:last-child {
        align-self: flex-end;
      }

      &--primary {
        width: 100%;
      }
    }
    
  }
}