.page-heading {

  &--anchor-bottom {
    @include centeralign('horizontal');
    top: 100%;
    transform: translate(-50%, -50%);
  }
  &__title {
    border-bottom: $globals__border-size solid $colors__tan;
    padding-bottom: 10px;
  }

  &__svg-container {
    display: block;
    position: relative;
  }

  &__svg {
    width: 100%;
  }

  &__copy {
    font-size: $fonts__h3;
    margin-top: 10px;
    line-height: 1.1;
    text-align: center;
  }

  @include above('tablet') {
    &__title{
      border-bottom: $globals__border-size--tablet solid $colors__tan;
    }

    &__copy {
      font-size: 5vw;
    }
  }

  @include above('desktop') {
    &__copy {
      font-size: 4rem;

      &--large {
        font-size: 80px;
      }
    }
  }
}