.parallax-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: -1;

  &__image {
    position: absolute;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    transition: opacity .3s ease-in-out;

    &--anchor-bottom {
      background-size:  auto 65%;
      background-position: 50% 100%;
    }
  }
  &__overlay {
    position: absolute;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    transition: opacity .2s ease-in-out;
  }

  @include above('mobile') {
    &__image {
        &--anchor-bottom {
        background-size: auto 100%;
        background-position: 5vh 100%;
      }
    }
  }
  @include above('tablet') {
    &__image {
        &--anchor-bottom {
        background-size: auto 100%;
        background-position: 50vh 100%;
      }
    }
  }
}