.parallax-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  &__image {
    position: absolute;
    z-index: 1;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    transition: opacity .3s ease-in-out;
  }
  &__overlay {
    position: absolute;
    z-index: 0;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    transition: opacity .3s ease-in-out;
  }
}