.social-links {

  &--with-label {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__label {
    font-size: $fonts__h4;
    color: $colors__coal;
    flex-shrink: 0;
  }
  &__label + &__list{
    margin-left: 1.5em;
  }

  &__list {
    &--horizontal {
      display: inline-flex;
      align-items: center;
    }
  }

  &__list--horizontal & {
    &__item {
      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  &__icon {
    color: $colors__cherry;
  }
}