$wrapper-padding: 34px;

$wrapper-maxwidth--body: 1029px;
$wrapper-maxwidth--narrow: 717px;


.wrapper {
  max-width: $wrapper-maxwidth--body + ($wrapper-padding * 2);
  padding-left: $wrapper-padding;
  padding-right: $wrapper-padding;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
  &--narrow {
    max-width:  $wrapper-maxwidth--narrow + ($wrapper-padding * 2);
  }
}
