// The font size set on the root html element.
$base-font-size: 16px !default;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default;

@import './../../node_modules/normalize-scss/sass/normalize';

@include normalize();


*, 
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: $fonts__family;
  font-weight: $fonts__weight;
  font-size: 16px;
  line-height: $fonts__line-height;
  text-transform: uppercase;
  background-color: $colors__beige;
  color: $colors__white;
}

h1,h2,h3,h4,h5,h6, p {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
}

main {
  display: block;
}

a {
	color: inherit;
	text-decoration: none;

	&:focus {
		outline: 0 none;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

button {
  line-height: 1.1;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  border-radius: 0;
  padding: 0;
  border-width: 1px;
  display: inline-block;
  color: inherit;
  &:focus {
    outline: none;
  }
}